<form class="example-form">
  <mat-form-field style="width:100%">
    <mat-label>Enter Origin</mat-label>
    <input
      matInput
      [(ngModel)]="origin"
      [ngModelOptions]="{standalone: true}"
      placeholder="PAR"
    />
    <mat-hint align="end">{{origin.length}} / 3</mat-hint>
    <button
      mat-button
      *ngIf="origin"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="origin=''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-divider></mat-divider>

  <mat-form-field style="width:100%">
    <mat-label>Max Price</mat-label>
    <input
      matInput
      [(ngModel)]="maxPrice"
      [ngModelOptions]="{standalone: true}"
    />
    <button
      mat-button
      *ngIf="maxPrice"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="maxPrice=0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button
    mat-raised-button
    color="primary"
    style="margin: 10px"
    (click)="searchFlights()"
  >
    Search Destinations
  </button>
</form>
<div *ngIf="error" style="color: red">{{error}}</div>

<div *ngIf="items.length">
  <span *ngFor="let i of currency | keyvalue" style="color: green"
    >Currency: {{i.value}}</span>
  <button mat-stroked-button (click)="openDialog()" style="margin: 10px">
    Check Country Codes
  </button>
</div>