<mat-accordion *ngIf="items.length">
  <mat-expansion-panel hideToggle *ngFor="let item of items">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Destination: {{getDestinationName(item.destination)}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Price : {{item.price.total}}</p>
    <p>Departure : {{item.departureDate}}</p>
    <p>Return : {{item.returnDate}}</p>
  </mat-expansion-panel>

</mat-accordion>